<aside class="sidebar" data-sidebar>
    <div class="sidebar-info">
      <figure class="avatar-box">
        <img src="/assets/images/my-avatar.png" alt="Parthasarathy R" width="80">
      </figure>
  
      <div class="info-content">
        <h1 class="name" title="Parthasarathy R">Parthasarathy R</h1>
        <p class="title">Python Developer</p>
      </div>
  
      <button class="info_more-btn" data-sidebar-btn>
        <span>Show Contacts</span>
        <ion-icon name="chevron-down"></ion-icon>
      </button>
    </div>
  
    <div class="sidebar-info_more">
      <div class="separator"></div>
  
      <ul class="contacts-list">
        <li class="contact-item">
          <div class="icon-box"><ion-icon name="mail-outline"></ion-icon></div>
          <div class="contact-info">
            <p class="contact-title">Email</p>
            <a href="mailto:Sarathyvj007@gmail.com" class="contact-link">Sarathyvj007@gmail.com</a>
          </div>
        </li>
  
        <li class="contact-item">
          <div class="icon-box"><ion-icon name="phone-portrait-outline"></ion-icon></div>
          <div class="contact-info">
            <p class="contact-title">Phone</p>
            <a href="tel:+918072381162" class="contact-link">+91-8072381162</a>
          </div>
        </li>
  
        <li class="contact-item">
          <div class="icon-box"><ion-icon name="location-outline"></ion-icon></div>
          <div class="contact-info">
            <p class="contact-title">Location</p>
            <address>Cuddalore, Tamil Nadu</address>
          </div>
        </li>
      </ul>
  
      <div class="separator"></div>
  
      <ul class="social-list">
        <li class="social-item">
          <a href="https://github.com/yourusername" class="social-link" target="_blank" rel="noopener">
            <ion-icon name="logo-github"></ion-icon>
          </a>
        </li>
        <li class="social-item">
          <a href="https://linkedin.com/in/yourname" class="social-link" target="_blank" rel="noopener">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  